@import 'variables.scss';
@import 'breakpoints.scss';

h1,
h2,
h3,
p {
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.logo {
  &-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__title {
      font-weight: $font-weight-header;
      font-size: 20px;
      line-height: $line-height-reg;
      color: $color-text-first;
    }
    &__description {
      display: none;
      font-size: 18px;
      line-height: $line-height-reg;
      font-weight: $font-weight-regular;
      text-align: center;
      color: $color-text-second;

      @include for-large-screen {
        display: block;
      }
    }
  }
  @include for-large-screen {
    display: flex;
  }
}

.button {
  padding: 17px 0 18px 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  outline: none;
  border: 0;
  height: 48px;
  width: 100%;
  font-weight: $font-weight-header;
  font-size: 18px;
  line-height: 13px;
  background: $background-button;
  color: $color-white;
  &_white {
    background-color: $background-button;
    color: $color-button-white;
  }
  &:not(:last-child) {
    margin-bottom: 12px;
    @include for-large-screen {
      margin-right: 10px;
    }
  }
  @include for-large-screen {
    width: 160px;
  }
}
.buttons {
  height: 118px;
  @include for-large-screen {
    display: flex;
    height: 48px;
    margin-bottom: 0;
  }
}
.page {
  width: 1400px;
  min-height: 100vh;
}

.content {
  width: 100vw;
}
