@import 'variables.scss';
@import 'breakpoints.scss';
.headline {
  padding: 35px 15px 0 15px;
  height: 890px;
  background: $background-headline;

  @include for-large-screen {
    position: relative;
    display: flex;
    height: 609px;
    padding: 0;
  }
  &-content {
    width: 100%;

    @include for-large-screen {
      margin: 81px auto 0 auto;
      position: relative;
      width: 1140px;
      height: 456px;
    }
    &__title {
      margin-bottom: 24px;
      text-align: left;
      font-size: 50px;
      font-weight: $font-weight-header;
      line-height: 50px;
      letter-spacing: -0.3125px;
      color: $color-text-first;

      @include for-large-screen() {
        position: relative;
        z-index: 2;
        margin-bottom: 34px;
        width: 754px;
        height: 165px;
        font-weight: $font-weight-header;
        font-size: 80px;
        line-height: 78px;
        letter-spacing: -0.5px;
        color: $color-text-first;
      }
    }
    &__description {
      margin-bottom: 30px;
      text-align: left;
      font-size: 24px;
      font-weight: $font-weight-regular;
      line-height: $line-height-mid;
      color: $color-text-first;

      @include for-large-screen {
        position: relative;
        z-index: 2;
        margin-bottom: 58px;
        width: 456px;
        height: 102px;
        font-size: 24px;
        line-height: $line-height-mid;
      }
    }
    &__buttons {
      margin-bottom: 33px;
    }
    &__banner {
      @include for-large-screen {
        position: absolute;
        top: 1.3%;
        right: -9.5%;
        width: 796px;
        height: 448px;
      }
      & img {
        max-width: 100%;
      }
    }
  }
}
